.saveEval {
  margin-right: 5%;
}
.editDropDown {
  float:right;
}
.starsBox {
  width: 40px;
}

#dataListInput {
  border-radius: 4px;
  width: 220px;
  height: 30px;
  border: 1px solid #cccccc;
  line-height: 30px;
  padding: 5px;
}
.buttonStyleEval {
  display: inline-block;
}
.buttonStyleEval.save2Eval {
  width: 49%;
}
.buttonStyleEval.delete2Eval.edit2Eval {
  width: 49%;
  float: right;
}
.delete2Eval {
  background-color: #D11149 !important;
}

.delete2Eval:hover {
  background-color: #FF5050 !important;
}
.buttonStyleEval {
  background-color: #7700DD;
  border: none;
  color: white;
  padding: 1.25%;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 1%;
  margin-top: .5%;
  float: left;
  }
