header {
  padding: 20px 15px 15px 15px;
  position: relative;
}
.viewAllStudentTable th {
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #7700DD;
  padding-top: 2.5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2.5%;
  border-bottom: 1px solid #444444;
}

.viewAllStudentTable{
  width: 100%;
}
.viewAllStudentTable td {
  text-align: center;

}
.titleEvaluations {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  display: inline-block;
  margin-top: 1%;
  /* width: 100%; */
}
.titleLeader {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  display: inline-block;
  margin-top: 1%;
  /* width: 100%; */
}

@media screen and (max-width: 980px) {
  .titleLeader {
    margin-top: 6.5%;
  }
}


.leaderboard {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  height: 4px;
  min-width: 93%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.leaderboard {
  background-color: #7700DD;
  padding-top: 1.75%;
  padding-bottom: 1.75%;
  border-bottom: 1px solid #444444;
  color: white;
  width: 16.666%;
  font-size: 16px;
  text-align: center;
}

.leaderboard td {
  padding-top: 1.5%;
  color: black;
  width: 16.666%;
  font-size: 14px;
  text-align: center;

}

.purple-bar {
  max-width: 100%;
  max-height: 4px;
  background: #7700DD;
  margin-top: .5%;
  margin-bottom: 2%;

}

.marginContainer {
  margin-left: 5%;
  margin-right: 5%;
}

.buttonStyleleader.leaderboardBtn {
  width: 15%;
  font-size: 14px;
  float: right;
  padding: 1%;
}
.buttonStyleleader.submitBtn {
  width: 15%;
  font-size: 14px;
  float: right;
  padding: 1%;
}

.buttonStyleleader {
  width: 100%;
  background-color: #7700DD;
  border: none;
  color: white;
  padding: 1.25%;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 2%;
  margin-top: 2%;
  }

.buttonStyleleader:hover {
  background-color: #9f53e0;
}
.tableHeadleaderFormat {
  background-color: #7700DD;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #444444;
  color: white;
  width: 50%;
  font-size: 18px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.mytext {
    width: 50%;
    height: 420px;
    font-size: 18px;
}

.formstarsContainer {
	width: 50%;
	background: white;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 24px;
	height: 14em;
	display: inline-block;
}
.textformContainer {
	width: 100%;
	background: white;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 24px;
	height: 10em;
	display: inline-block;
  }
.dropdownformContainer {
	width: 50%;
	background: white;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 24px;
	height: 14em;
  float:right;

}
.mystar .current-rating {
  color: #7700dd;
}

.mystar .active {
  color: #8419e0;
}

.evalText {
  display: inline-block;
}
.starLabel {
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
textarea {
  resize:none;
}
.switch {
  width: 60px;
  height: 34px;
}
