<template name="publishPostOrComment">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Danger!</h4>
        </div>

        <div class="modal-body">
          <p>Are you sure you want to publish?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Publish</button>
        </div>

      </div>
    </div>
  </div>
</template>
