<template name="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">GET HIP Managr</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{{homeClass}}"><a href="#">Home</a></li>
            {{#with assignments}}
                <li>
                    <a href={{assignment}}>Assignments</a>
                </li>
                <li>
                    <a href={{profile}}>My Profile</a>
                </li>
            {{/with}}
        </ul>
    </nav>
</template>
