
.active {
    background-color: #444444 !important;
	/* You wont be able to see the color because there's an anchor
	tag whose background color is black within the list. Therefore the black color
	kind of stacks up on color: #444444. */

	border-bottom-width: 2px;


	border-bottom-style: solid;
}

#navbarElements a{
  padding-top: 15px;
}

.loginButton{
  padding-top: 15px;
}

.loginButton a.login-close-text{
  color: #0088cc;
}

.loginButton a{
  color: #999999;
  text-decoration: none !important;
}

.loginButton a:hover{
  color: #ffffff;
}

.loginButton a.login-close-text:hover{
  color: #0088cc;
}

.blogsActive {
	border-bottom-color: #61c250;
}

.assignmentsActive {
	border-bottom-color: #fcb040;
}

.profilesActive {
	border-bottom-color: #0397d7;
}
