<template name="topNav">
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
							<a class="navbar-brand" href="/home">GET HIP Managr</a>
						{{#if currentUser}}
						<li class="active highlightBackground">
							<a class="blogsActive {{ activeIfTemplateIs '/home'}}" href="/home">Home</a>
						</li>
						<li class="active" >
							<a class="assignmentsActive {{ activeIfTemplateIs '/assignments'}}" href="/assignments">Assignments</a>
						</li>
						<li class="active">
							<a class="eventsActive {{ activeIfTemplateIs '/events'}}" href="/events">Events</a>
						</li>
						{{#if isStudent}}
						<li class="active">
							<a class="eventsActive {{ activeIfTemplateIs '/myEvents'}}" href="/myEvents">My Events</a>
						</li>
						<li class="active">
							<a class="profilesActive {{ activeIfTemplateIs '/profile'}}" href="/profile">Profiles</a>
						</li>
						{{/if}}
						{{#if isInstructor}}
						<li class="active">
							<a class="profilesActive {{ activeIfTemplateIs '/profile'}}" href="/profile">All Profiles</a>
						</li>
						<li class="active">
							<a class="groupsActive {{ activeIfTemplateIs '/groups'}}" href="/groups">Groups</a>
						</li>
						{{/if}}
						{{#if isStudent}}
						<li class="active">
							<a class="groupsActive {{ activeIfTemplateIs '/myGroups'}}" href="/myGroups">My Groups</a>
						</li>
						{{/if}}
						{{#if isInstructor}}
						<li class="active">
							<a class="attendanceActive {{ activeIfTemplateIs '/attendance'}}" href="/attendance">Attendance</a>
						</li>
						<li class="active">
							<a class="reportsActive {{ activeIfTemplateIs '/reports'}}" href="/reports">Reports</a>
						</li>
						{{/if}}
						{{#if isInstructor}}
						<li class="active">
							<a class="dashboardActive {{ activeIfTemplateIs '/dashboard'}}" href="/dashboard">Dashboard</a>
						</li>
						{{/if}}
						{{/if}}
					</ul>
					{{#if renderNavbar}}
					<ul class="nav navbar-nav navbar-right">
								 <li class="loginButton">{{> loginButtons align="right"}}</li>
					</ul>
					{{/if}}

				</div>
			</div>
		</nav>
	</div>
</template>
