.navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
background-color: #444444;
border-bottom-width: 3px;
border-bottom-style: solid;
padding: 15px 15px 12px 15px;
}

.blogsActive:focus, .blogsActive:hover {
  border-bottom-color: #61c250;
}

.assignmentsActive:focus, .assignmentsActive:hover {
	border-bottom-color: #fcb040;
}

.profilesActive:focus, .profilesActive:hover {
	border-bottom-color: #0397d7;
}

.navbar-inverse .nav .active > a {
  background-color: #222;
  padding: 15px;
}
