.navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
background-color: #444444;
border-bottom-width: 2px;
border-bottom-style: solid;
}

.blogsActive:focus, .blogsActive:hover {
  border-bottom-color: #61c250;
}

.assignmentsActive:focus, .assignmentsActive:hover {
	border-bottom-color: #fcb040;
}

.profilesActive:focus, .profilesActive:hover {
	border-bottom-color: #0397d7;
}

.navbar .nav > .active > a {
  background-color: #222;
}
