.groupsTable {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    height: 4px;
    min-width: 93%;
    margin-top: .5%;
    margin-bottom: 2%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.groupButton {
    padding: 3px 15px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    opacity: 0.8;
}
.buttonCollection {
  text-align: right;
}
.groupButton.deleteGroup {
    background: #B2332F;
    border: 1px solid #B2332F;
}
.groupButton.editGroup {
    background: #84807b;
    border: 1px solid #84807b;
}
.groupButton:hover {
    opacity: 1;
}
.groupsTableHead {
    background-color: #870000;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #444444;
    color: white;
    width: 20%;
    font-size: 18px;
}
.namesInGroup {
    max-height: 120px;
    overflow-y: auto;
    max-width: 100%;
}
.namesInGroup ol li {
    list-style-type: decimal;
}
#createGroupForm .createGroupButton, #editGroupForm .editGroupButton {
    width: 48%;
    display: block;
}
.buttonStyle.groups {
    width: auto;
    float: right;
    margin-top: 1%;
    background-color: #870000;
    margin-bottom: -2.5%;
    display: inline-block;
    /* margin-bottom: 100px; */
 }
 .buttonStyle.groups:hover {
   outline: none;
   background-color: #660000;
 }
 .groups:hover {
    background-color: #660000;
 }
 #suggestedgroupsbutton {
    margin-right: 2%;
 }
 .studentGroup {
   border: 2px solid #CCCCCC;
   border-radius: 5px 5px 0px 0px;
   overflow-x: hidden;
   max-height: 35vh;
   width: 48%;
   float: left;
 }
 .existingGroups {
    border: 2px solid #CCCCCC;
    border-radius: 5px 5px 0px 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 20vh;
    width: 100%;
    margin: 0 auto;
 }
 .studentNotAdded {
   margin-left: 4%;
 }
.groupTitle {
  width: 50%;
  overflow-x: hidden;
  float: left;
  margin-top: 2%;
}
.notAddedStudent {
  margin-left: 2%;
  width: 48%;
}
.removeStudents, .addStudents {
   border: 2px solid #CCCCCC;
   padding: 5px;
   width: 48%;
   color: white;
   border-top: none;
}
.removeStudents {
  background-color: #ff4d4d;
  float: left;
}
.removeStudents:hover {
  background-color: #ff3333;
}
.addStudents {
  background-color: #70db70;
  float: right;
}
.addStudents:hover {
  background-color: #5cd65c;
}
.student input {
  margin: 5px;
}
.studentLabel:hover {
  background-color: #d9d9d9;
}
.addOrRemove {
  float: left;
  box-sizing: border-box;
}
.createGroupButton {
  background-color: #870000 !important;
}
.buttonStyle.backBtn, .buttonStyle.createBtn {
  margin-top: 4%;
  margin-bottom: 4%;
}
.buttonStyle.backBtn {
  float: left;
}
.buttonStyle.createBtn {
  margin-left: 4%;
  float: right;
}
.groupForum {
  border-radius: 6px;
  border: 2px solid #CCCCCC;
  width: 100%;
  /*Important tags required here to override bootstrap*/
	height: 2em !important;
  margin: 0px;
  box-sizing: border-box;
  box-shadow: none;
}
.groupForum:focus {
  outline: none;
  box-shadow: none !important;
  border-radius: 6px;
  border-color: white;
  border: 2px solid #660000 !important;
}
 @media screen and (max-width: 980px) {
    #createGroupButton, #suggestedgroupsbutton{
        margin-top: 6.5%;
    }
 }
 .searchBar input[type=text]  {
    width:30%;
    height: 30px;
    display:inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: none !important;
    font-size: 14px;
    background-color: white;
    background-image: url('photos/magnifying-glass.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    position: relative;
 }

 .searchBar input[type=text]:hover, .searchBar input[type=text]:focus  {
    border: 2px solid #0397d7;
 }

 .sortText {
   margin: 0;
   padding: 0;
   font-size: 18px;
   display: inline-block;
   vertical-align: center;
   float: right;
   padding-right: .4%;
   padding-left: 1.4%;
 }

 .sorting, .filters{
   float: right;
   width: auto;
   margin-top: 5px;
   margin-bottom: 5px;
 }

.cancelButton {
  background-color: #84807b;
  margin-right: 2%;
  }

.studentArray {

}

.groupsCard {
	background-color: white;
	box-shadow: 3px 3px 5px #888888;
	padding-left: 24px;
	padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 50%;
  margin: auto;
}
