.navbar .nav  > .active > a:hover, .navbar .nav > .active > a:focus {
	background-color: #444444;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding: 15px 15px 12px 15px;
}

.blogsActive:focus, .blogsActive:hover, .blogsActivated {
  border-bottom-color: #61c250;
}

.attendanceActive:focus, .attendanceActive:hover, .attendanceActivated {
  border-bottom-color: #f58028;
}

#navbarElements a{
  padding-top: 15px;
}

.loginButton{
  padding-top: 15px;
}

.loginButton a.login-close-text{
  color: #0088cc;
}

.loginButton a{
  color: #999999;
  text-decoration: none !important;
}

.loginButton a:hover{
  color: #ffffff;
}

.loginButton a.login-close-text:hover{
  color: #0088cc;
}

.blogsActive {
	border-bottom-color: #61c250;
}

.assignmentsActive:focus, .assignmentsActive:hover, .assignmentsActivated {
	border-bottom-color: #fcb040;
}

.profilesActive:focus, .profilesActive:hover, .profilesActivated {
	border-bottom-color: #0397d7;
}

.reportsActive:focus, .reportsActive:hover, .reportsActivated {
  border-bottom-color: #0397D7;
}

.navbar-inverse .nav .active > a {
  background-color: #222;
  padding: 15px;
}

.navbar-fixed-top{
  margin-bottom: 0px;
}

@media (max-width: 768px){
.navbar-header{
  margin-left: 10px !important;
  margin-right: 10px !important;
  }
}

@media (max-width: 882px){
  .navbar-fixed-top{
    position: fixed;
  }
}
