.attendTable.attend th {
  background-color: #f58028;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.attendTable.attend td {
  padding: 0;
  padding-top: 1%;
}

.blueBar.orange {
  background-color: #f58028; 
}

.buttonStyle.updateAttendance {
  width: 49%;
  float: right;
  background-color: #f58028; 
}

.buttonStyle.updateAttendBack {
  width: 49%;
  float: left;
  background-color: #f58028; 
}