.purpleBar {
  background: #BD53FF;
}
.events {
  margin-right: 5%;
  margin-left: 5%;
}

.containerDiv.formbg.homeEvents  {
    width: 80%;
    text-align: left;
    font-size: 18px;
    margin-left: 5%;
}

.formTitle.eventTitle {
    text-align: center;
    font-size: 36px;
    color: #BD53FF;
}

.formTitle.eventTitle:hover {
    cursor: pointer;
    color: #BD79FF;
}
.eventToolBar {

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    display: none;
}




.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #BD53FF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #BD53FF;
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.rsvp {
  float:right;
}

.editEvent {
  background-color:  #BD53FF;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.editEvent:hover {
    background-color: #BD79FF;
}

.createEvent {
  background-color: #BD53FF
}

.createEvent:hover {
  background-color: #BD79FF
}

.eventCalendar {
  background-color: #BD53FF
}

.eventCalendar:hover {
  background-color: #BD79FF
}
