.profileBody {
    background-color: #f3f3f3;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.aboutMe {
    background-color: white;
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 2em;
    padding-left: 2em;
    text-align: left;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 1.5em;
    color: black;
}

.assignmentHeader{
text-align: left;

}
.color {
    background-color: #0397d7;
    color: white;
}
.profileEdit{
margin-right: 2em  !important;

}
.attendanceSize th td {
right: 0  !important;
left: 0 ;
}

.buttonStyle.editAboutMe {
  width: 49%;
  float: right;
  background-color: #0397d7;
}

.buttonStyle.profileBack {
  width: 49%;
  float: left;
  background-color: #0397d7;
}

.buttonStyle.editAttendance {
  width: 100%;
  background-color: #0397d7;
  margin-bottom: 5%;
}

.buttonStyle.editAttendance:hover, .buttonStyle.profileBack:hover, .buttonStyle.editAboutMe:hover {
  background-color: #0274a5;
}

.titleProfile.names {
  margin-top: 5%;
}

.attendTable {
  margin-top: 1%;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.attendTable th {
  background-color: #0397d7;
  padding-top: 1.75%;
  padding-bottom: 1.75%;
  border-bottom: 1px solid #444444;
  color: white;
  width: 8.33%;
  font-size: 16px;
  text-align: center;
}

.attendTable td {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: black;
  width: 8.33%;
  font-size: 14px;
  text-align: center;
}









