.reportsTable {
  min-width: 90% !important;
  max-width: 90% !important;
  margin: 70px auto !important;
}

.buttonBottom {
  display:inline-block;
  margin-bottom: inherit;
  text-align: center;
  margin-left: 70px;
}

.reportsButton{
  max-width: 90% !important;
  display: inline-block !important;
  margin: 0 auto;
  background-color: #0397d7 !important;
  background-image: none;
}
.reportsSelect{
  display: inline-block;
  margin: 0 auto;
}
.form-group{
  margin-left: 50px;
}
