.reportsRow {
  margin-top: 16px;
  margin-bottom: 16px;
}

table.reportsTable {
  min-width: 90% !important;
  max-width: 90% !important;
	margin-left: 70px;
	margin-right: 70px;
}
thead.reportsTable {
	background-color: #0397d7;
	color: white;
}
td.reportsTable {
	width: 50%;
}

.buttonBottom {
  text-align: center;
  margin: 0 auto;
}

.reportsButton{
  max-width: 90% !important;
  display: inline-block !important;
  margin: 0 auto;
  background-color: #0397d7 !important;
  background-image: none;
  margin-top: 2%;
}
.reportsSelect{
  display: inline-block;
  margin: 0 auto;
  margin-top: 2%;
}
.form-group{
  margin-left: 50px;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 20%;
}
