<template name="deletePost">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Confirmation required</h4>
        </div>

        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default closeButton" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger deletePostButton" data-dismiss="modal">Delete</button>
        </div>

      </div>
    </div>
  </div>
</template>
