<template name="missingFields">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Missing fields!</h4>
        </div>

        <div class="modal-body">
          <p>{{text}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default missingFieldsCloseButton" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>
