.modal.fade.in{
  width: 600px;
  height: 167px;
  top: 30%;
  box-shadow: none;
}


.modal-content{
  border: none;
}

.modal-dialog{
  margin: 0;
}

.deleteButton{
  background-image: none;
}


#cancelButton {
  background-color: #84807b;
  margin-right: 2%;
  margin-left: 5%;
  padding: 1%;
  width: 15%;
  font-size: 14px;
  float: right;
  opacity: 0.8
}

#cancelButton:hover {
  opacity: 1;
}
