<template name="publishPost">
 	<div class="modal fade assignment">
		<div class="">
			<div class="modal-content assignment">
				<div class="modal-header assignment">
					<button type="button" class="assignmentModal-close" data-dismiss="modal">x</button>
					<h4 class="modal-title assignment">Confirmation</h4>
				</div>
				<div class="modal-body assignment">
					 <p>Publish post?</p>
				</div>
				<div class="modal-footer assignment">
					<button type="button" class="btn btn-danger publishButton" data-dismiss="modal" id="publish">Publish</button>
				</div>
			</div>
		</div>
	</div>
</template>
