.red-bar{
  background: #e61610;
}

.surveyBtn{
  background: #e61610;
  width: 66%;
}

viewAllTable tr:hover {
  background-color: #f7b9b7;
  cursor: pointer;
}

.buttonStyle.surveyBtn:hover{
  background-color: #cf130e;
}

.surveyTableHeadFormat {
  background-color: #e61610;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #444444;
  color: white;
  width: 50%;
  font-size: 18px;
  text-align: center;
}

.surveyTableHeadFormat.surveys, .surveyTableDataFormat.surveys {
  width: 33%;
}

.saveSurvey, .sendSurvey{
  width: 66%;
  background-color: #e61610;
}

.saveSurvey:hover, .sendSurvey:hover{
  background-color: #cf130e;
}
