viewAllTable tr:hover {
  background-color: #f7b9b7;
  cursor: pointer;
}

.buttonStyle.surveyBtn:hover {
  background-color: #cf130e;
}

.surveyTableHeadFormat {
  background-color: #e61610;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #444444;
  color: white;
  width: 50%;
  font-size: 18px;
  text-align: center;
}

.surveyTableHeadFormat.surveys, .surveyTableDataFormat.surveys {
  width: 33%;
}

.sendSurvey:hover, .addBtn:hover {
  background-color: #cf130e;
}

/*cards*/
.surveyContainer {
 	  background: white;
  	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-top: 2%;
    margin-bottom: 2%;
	  padding-top: 2%;
    padding-bottom: 4%;
  	padding-left: 4%;
  	padding-right: 4%;
}

.createTableInput {
  padding-left: 2%;
}
