.CQlabel {
  margin-top: 13px !important;
  margin-bottom: 15px !important;
  margin-right: 10px !important;
}

.questionPrompt {
  margin-top: 30px !important;
  font-size: 18px;
}

.compQuestionDiv {
margin-left: 1.18%;
  width: 85% !important;
}
