.surveyFormFormat {
  font-size: 20px;
}

.nSurveyHr {
  border-color: #e61610;
  margin: 30px;
}

.selectionQuestInput {
  margin-left: 2%;
  margin-bottom: 0px !important;
}
.mcSurveyForm {
  float:left;
}
