.searchEngine {
    background-color: #f3f3f3;
		margin-right: 30px;
    height: auto;
		padding-top: 30px;
    margin-left: 240px;
}
.searchEngine li {
    box-shadow: 3px 3px 5px #888888;
    margin-bottom: 8px;
    background-color: white;
}

.blogSearchBar{
		margin-right: 50px;
		float: right;
    height: 30px;
    margin-top: -40px;
}

@media (max-width: 450px) {
  .searchEngine {
      background-color: #f3f3f3;
      height: auto;
      padding-top: 30px;
      margin-left: 0px;
  }
  .blogSearchBar{
    margin-right: 15px;
    float: right;
    margin-top: 0px;
  }
}
