.blogeditor {
    border-radius: 6px;
    border: 2px solid lightgrey;
    width: 99%;
    height: 450px;
    padding: 8px 10px;
    margin-left: 1%;
    max-width: 100%;
    max-height: 200px;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blogeditor:focus {
  outline: none;
  border-radius: 6px;
  border: 2px solid #61c250;
}

#blogEditorbuttons {
  padding-bottom: 10px;
  margin-left: 1%;
}
