.searchEngine {
    background-color: #f3f3f3;
    margin-left: 200px;
		margin-right: 30px;
    height: auto;
		padding-top: 30px;
}
.searchEngine li {
    box-shadow: 3px 3px 5px #888888;
    margin-bottom: 8px;
}


.searchBar{
		margin-right: 50px;
		float: right;
}

@media (max-width: 450px) {
  .searchEngine {
      background-color: #f3f3f3;
      height: auto;
      padding-top: 30px;
      margin-left: 0px;
  }
  .searchEngine li {
      box-shadow: 3px 3px 5px #888888;
      margin-bottom: 8px;
  }
  .searchBar{
    margin-right: 15px;
    float: right;
  }
}
