
body {
  background-color: #f3f3f3;
}
textarea {
  width: 95%;
  height: 100px;
}

input[name="name"] {
    width: 95%;
}

.blogSection {
    padding-top: 30px;
}

@media (max-width: 450px) {
  body{
    margin-left: 0px;
  }
}
