.commentDisplay {
    box-shadow: 3px 3px 5px #888888;
    margin-right: 10px;
    background-color: #D7D5D6;
    padding-top: 1px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 15px;
}
.commentTitle{
  padding-left: 5px;
}
.commentBox{
 padding-left: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.commentDeleteButton{
  background-color: #B2332F;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 7%;
  text-decoration: none;
  margin-top: 10px;
  font-size: 12px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border:none;
  border-radius: 5px;
  float:right;
  margin-right: 10px;
  margin-top: -2px;
}
.commentDeleteButton:focus {
    outline: none;
}

.commentDeleteButton:hover {
    color: white;
    background-color: #C43834;
    text-decoration: none;
  }
