.publishButton{
  background-image: none;
  background-color: #61c250;
}

.publishButton:hover, .publishButton:active, .publishButton:active:hover, .publishButton:active:focus, .publishButton:focus{
  background-color: #61c250;
  border-color: #61c250;
}

.buttonWidth {
  width: 100%;
}

.buttonRight {
  padding-right: 1%;
}

.buttonLeft {
  padding-left: 1%;
}

.missingFieldsCloseButton, .missingFieldsCloseButton:hover, .missingFieldsCloseButton:active, .missingFieldsCloseButton:active:hover, .missingFieldsCloseButton:focus, .missingFieldsCloseButton:active:focus{
  background-image: none;
  background-color: #61c250;
  border-color: #61c250;
}

.saveDraftButton {
  width: 100% !important;
}

.createPostButton {
  width: 100% !important;
}

.container{
  margin-left: 0px;
  padding-left: 0px;
}
