.publishButton{
  background-image: none;
  background-color: #61c250;
}

.publishButton:hover, .publishButton:active, .publishButton:active:hover, .publishButton:active:focus, .publishButton:focus{
  background-color: #61c250;
  border-color: #61c250;
}

.closeButton{
  background-image: none;
}

.createPostButton{
  width: 100% !important;
}

.container{
  margin-left: 0px;
  padding-left: 0px;
}
