#welcome {
    font-size: 35px;
    font-family: Helvetica;
}
#line {
    width: 99%;
    height: 3px;
    background-color: #61c250;
}
.header{
  margin-left: 250px;
}

@media (max-width: 450px){
  .header{
    margin-left: 0px;
  }
  #welcome {
    font-size: 25px;
  }
}
