.blogPost {
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
    padding-top:1px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#signature {
  float: right;
  font-size: 11px;
  color: #444444;
  font-family: Helvetica;
}
#postText {
  font-size: 18px;
  font-family: Helvetica;
}
#leaveComment {
  font-size: 11px;
  color: #444444;
  font-family: Helvetica;
}
#postHeader {
  font-size:25px;
  font-family: Helvetica;
  /*pointer-events: none;
  cursor: default; */

  color: #444444;
}
#pretag {
    font-family: Helvetica;
    border:none;
    background-color: white;
}
