
.blogPost {
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
    padding-top:1px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
	margin-right: 10px;
}
#signature {
  float: right;
  font-size: 11px;
  color: #444444;
  font-family: Arial;
}
<<<<<<< HEAD
#postText {
=======
.p {
>>>>>>> c0cd1ec0c722478ccdd70a17cccd7ea85095d206
  font-size: 18px;
  font-family: Arial;
}
#viewComments {
  font-size: 11px;
  color: #444444;
  font-family: Arial;
}
#postHeader {
  font-size:25px;
  font-family: Arial;
}
