#bodyContent {
    background-color: #f3f3f3;
    position: relative;
    margin-left: 22.5%;
    width: 77%;
    height: 100%;
   padding-top: 6%;
}

.commentSection{
  box-shadow: 3px 3px 5px #888888;
}
