.bodyContent {
    background-color: #f3f3f3;
    position: relative;
    margin-left: 250px;
    height: auto;
   padding-top: 80px;
   padding-right: 1%;
}

.commentSection{
  box-shadow: 3px 3px 5px #888888;
  background-color: white;
}
