#bodyContent {
    background-color: #f3f3f3;
    position: relative;
    margin-left: 240px;
	margin-top: 60px;
    width: 77%;
    height: auto;
}

.commentSection{
  box-shadow: 3px 3px 5px #888888;
}
