
body {
    background-color: #f3f3f3;
}

p {
    padding-left: 20px;
}



/*    NavBar Below    */




li {
    list-style-type: none;
}


.navContent {
    font-size: 15px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 20px;
    left: 0;
}

.navContent:hover {
    background-color: #444444;
    text-decoration: none;
    color: white;
}
.navContent:focus {
    text-decoration: none;
    color: white;
}

.navTitle {
    background-color: #61c250;
    font-size: 16px;
    padding: 10px 8px 10px 8px;
    margin-top: 0;
    margin-bottom: 0;
}
#sideNav {
    background-color: #333333;
    color: white;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    margin-top: 53px;
    box-shadow: 3px 3px 5px #888888;
  	top: 0;
  	left: 0;
}
#createPostButton{
  background-color: #61c250;
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 45%;
  margin-top: 10px;
  font-size: 12px;
    float: right;
    margin-right: 3%;
    text-align: center;

}
#createPostButton:hover{
    color: white;
    background-color: #61d250;
    text-decoration: none;
}
#createPostButton:focus{
outline: none;
}
#editPostButton:focus{
outline: none;
}
#editPostButton{
  background-color: #61c250;
  color: white;
  text-align: center;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 45%;
  margin-top: 10px;
  font-size: 12px;
  margin-left: 3%;
    float:left;
}
#editPostButton:hover{
    color: white;
    background-color: #61d250;
    text-decoration: none;
}
#buttonArea{
  background-color:#333333;
  padding-bottom: 10px;
}
