
.button {
    background-color: #61c250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 101% !important;

}
.button:hover {
    color: white;
    background-color: #61d250;

}
.inBoxForum {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 1px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-family: Helvetica;
}
.forumTitle {
    margin-right: 10px;
    padding-top: 1px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background-color: white;
    font-family: Helvetica;
}
#postComment {
    margin-right: 10px;
}
