hr {
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-style: solid;
    border-width: 2px;
    border-color:  #0397d7;

}

body {

    background-color: #f3f3f3 ;
}

.rectangle {
    background-color: white;
    margin: auto;
      width: 72%;
      padding-left: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}




p {
    margin-left: 5%;
}

.btn-primary {
    background-color: #0397d7;
    margin-left: 18%;
    margin-right: 18%;
}

#name {
    padding: 50px 20px 50px 80px;
}

.color {
    background-color: #0397d7;
    color: white;
}
