<template name="links">
    <h4>While this website is still under development, use these urls to navigate:</h4>
    <p>When adding pages in routes.js append the url to this list (until webpage has navigation bar)</p>
    <ul>
	<li><code>./</code></li>
	<li><code>./assignments</code></li>
	<li><code>./assignments/all</code></li>
	<li><code>./assignments/edit/all</code></li>
	<li><code>./assignments/single/{id}</code></li>
	<li><code>./assignments/edit/single/{id}</code></li>
	<li><code>./assignments/edit/grades</code></li>
    </ul>
</template>
