<template name="listed">
  <h1 id="title">{{title}}</h1>
  <div class="orange-bar">&nbsp;</div>
  <div class="assignmentContainer">
    <p id=assignmentTextFormat><b>Points Possible:</b> {{pointsPossible}}</p>
    <p id=assignmentTextFormat><b>Instructor:</b> {{assigner}}</p>
    <p id=assignmentTextFormat><b>Date Assigned:</b> {{dateAssigned}}</p>
    <p id=assignmentTextFormat><b>Students Assigned:</b> {{assignedStudents}}</p>
    <p id=assignmentTextFormat><b>Description:</b> {{description}}</p>
  </div>
</template>

<template name="editGrades">
    <h3>This page will contain grades for the instructor to edit.</h3>
</template>

<template name="listing">
  <head>
    <link type="text/css" rel="stylesheet" href="listing.css">
  </head>
  {{> table}}
  {{#each assignments}}
    {{> listed}}
  {{/each}}
</template>

<template name="table">
  <h1 id="title">Assignments</h1>
  <div class="orange-bar"> &nbsp;</div>
  <div style="overflow-x:auto;">
      <table id="tableTitle">
          <tr>
              <th>Name</th>
              <th>Date Assigned</th>
              <th>Due Date</th>
              <th>Points Possible</th>
              <th>Points Received</th>
              <th>Instructor</th>
          </tr>
          {{#each assignments}}
          <tr>
              <td>
                  <a style="text-decoration:none;color:#333333;" href="{{url}}">{{title}}</a>
              </td>
              <td>{{dateAssigned}}</td>
              <td>{{dueDate}}</td>
              <td>{{pointsPossible}}</td>
              <td>Not Graded</td>
              <td>{{assigner}}</td>
          </tr>
          {{/each}}
      </table>
  </div>
</template>

<template name="original">
    <h3>This will be the home page.</h3>
</template>

<template name="single">
    {{#each assignments}}
        <h1 id="title">{{title}}</h1>
        <div class="orange-bar">&nbsp;</div>
        <div class="assignmentContainer">
            <p id=assignmentTextFormat><b>Points Possible:</b> {{pointsPossible}}</p>
            <p id=assignmentTextFormat><b>Instructor:</b> {{assigner}}</p>
            <p id=assignmentTextFormat><b>Date Assigned:</b> {{dateAssigned}}</p>
            <p id=assignmentTextFormat><b>Students Assigned:</b> {{assignedStudents}}</p>
            <p id=assignmentTextFormat><b>Description:</b> {{description}}</p>
        </div>
    {{/each}}
</template>

<template name="editSingle">
  {{#each assignments}}
  	<h1 id="title">Modify {{title}}</h1>
  	<div class="orange-bar">&nbsp;</div>
  	<div class="assignmentContainer">
  		{{> quickForm collection="Assignments" id="updateAssignment" type="update" class="update-assignment-form"}}
  	</div>
  	<div class="buttonDiv">
  		<input type="update" value="Update" class="buttonStyle">
  	</div>
  {{/each}}
</template>

<template name="newAssignment">
  <h1 id="title">New Assignment</h1>
  <div class="orange-bar">&nbsp;</div>
  <div class="assignmentContainer">
    {{> quickForm collection="Assignments" id="newAssignment" type="insert" class="new-assignment-form"}}
  </div>
  <div class="butonDiv">
    <input type="update" value="Update" class="buttonStyle">
  </div>
</template>

<template name="editListed">
  <h1 id="title">Modify {{title}}</h1>
    <div class="orange-bar">&nbsp;</div>
    <div class="assignmentContainer">
      <form>
        <p id=assignmentFormFormat><b>Name:</b> {{title}}</p>
        <input type="text" name="name" class="assignmentForm">
      	<p id=assignmentFormFormat><b>Points Possible:</b> {{pointsPossible}}</p>
      	<input type="text" name="points" class="assignmentForm">
      	<p id=assignmentFormFormat><b>Instructor:</b> {{assigner}}</p>
      	<input type="text" name="instructor" class="assignmentForm">
      	<p id=assignmentFormFormat><b>Date Due:</b> {{dueDate}}</p>
      	<input type="text" name="dateDue" class="assignmentForm">
      	<p id=assignmentFormFormat><b>Description:</b> {{description}}</p>
      	<textarea name="studentsAssigned" class="assignmentDescForm"></textarea>
      	<p id=assignmentFormFormat><b>Students Assigned:</b> {{assignedStudents}}</p>
      	<select name="students" class="assignmentDescForm" multiple>
      	</select>
      </form>
    </div>
    <div class="buttonDiv">
    <input type="update" value="Update" class="buttonStyle">
  </div>
</template>
