<template name="single">
    {{#each assignments}}
        <h1 id="title">{{title}}</h1>
        <div class="orange-bar">&nbsp;</div>
        <div class="assignmentContainer">
            <p id=assignmentTextFormat><b>Points Possible:</b> {{pointsPossible}}</p>
            <p id=assignmentTextFormat><b>Instructor:</b> {{assigner}}</p>
            <p id=assignmentTextFormat><b>Date Assigned:</b> {{dateAssigned}}</p>
            <p id=assignmentTextFormat><b>Students Assigned:</b></p>
            <p id=assignmentTextFormat><b>Description:</b> {{description}}</p>
        </div>
    {{/each}}
</template>

<template name="editSingle">
  {{#each assignments}}
  	<h1 id="title">Modify {{title}}</h1>
  	<div class="orange-bar">&nbsp;</div>
  	<div class="assignmentContainer">
  		<form>
  		  <p id=assignmentFormFormat><b>Name:</b> {{title}}</p>
  		  <input type="text" name="name" class="assignmentForm">
  			<p id=assignmentFormFormat><b>Points Possible:</b> {{pointsPossible}}</p>
  			<input type="text" name="points" class="assignmentForm">
  			<p id=assignmentFormFormat><b>Instructor:</b> {{assigner}}</p>
  			<input type="text" name="instructor" class="assignmentForm">
  			<p id=assignmentFormFormat><b>Date Due:</b> {{dueDate}}</p>
  			<input type="text" name="dateDue" class="assignmentForm">
  			<p id=assignmentFormFormat><b>Description:</b> {{description}}</p>
  			<textarea name="studentsAssigned" class="assignmentDescForm"></textarea>
  			<p id=assignmentFormFormat><b>Students Assigned:</b> {{assignedStudents}}</p>
  			<select name="students" class="assignmentDescForm" multiple>
  			</select>
  		</form>
  	</div>
  	<div class="buttonDiv">
  		<input type="update" value="Update" class="buttonStyle">
  	</div>
  {{/each}}
</template>
