.nameLine {
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 1em !important;
    max-width: 90% !important;
    min-width: 90% !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #0397d7 !important;
}
.profileBody {
    background-color: #f3f3f3;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.assignmentsTable{
  background-color: #f3f3f3;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  max-width: 90%;
  min-width: 90%;
  margin: 0 auto;
}
.aboutMe {
    background-color: white;
    max-width: 90%;
    min-width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-top: -0.5em;
    text-align: left;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.aboutMe {
    padding-top: 1.5em;
    color: black;
}
.attendanceTable{
  background-color: #f3f3f3;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  max-width: 90%;
  min-width: 90%;
  margin: 0 auto;
}
/*p {
    margin-left: 5%;
}*/
.attendanceContainer{
  display: block;
  margin: 0 auto;
  max-width: 90%;
  min-width: 90%;
}

.assignmentsContainer{
  display: block;
  margin: 0 auto;
  max-width: 90%;
  min-width: 90%;

}


.name-holder {
    margin: 0 auto;
    max-width: 90%;
    min-width: 90%;
    text-align: left;
    padding-top: .5em
}

.editAboutMe{
  max-width: 90% !important;
  display: block;
  margin: 0 auto;
  background-color: #0397d7 !important;
}

.editAttendance{
  max-width: 90% !important;
  display: block;
  margin: 0 auto;
  background-color: #0397d7 !important;

}

.color {
    background-color: #0397d7;
    color: white;
}

.attendanceSize th td {
right: 0;
left: 0;
}
