
.searchBar input[type=text]  {
      width:30%;
      display:inline-block;
      margin: 0 auto;
     /*box-sizing: border-box;*/
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 14px;
     background-color: white;
     background-image: url('photos/magnifying-glass.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     padding: 5px;
     position: relative;
     margin-top: 60px;
  }

  #searchText {
    display: inline-block;
    margin-top: 60px;

  }
