.reportsTable {
  min-width: 90% !important;
  max-width: 90% !important;
  margin: 70px auto !important;
}

.buttonBottom {
align-content: center;
}

.reportsButton{
  max-width: 90% !important;
  display: block;
  margin: 0 auto;
  background-color: #0397d7 !important;
}
